name: Install Packc

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [ "main", "master" ]

jobs:
  packc-install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.89.0
          override: true
      - name: Install packc
        run: cargo install greentic-pack --locked
